body {
    font-size: 11pt;
    font-family:  Verdana;
    color: #AA0000;
    background-color: #CCCCCC;
    line-height: 1.5em;
}

a {
    color: #888800;
    text-decoration: none;
}

div.projects {
    overflow: auto;
}

h3 {
    margin-bottom: 0;
}

li {
    display: block;
    float: left;
    padding-right: 1em;
    width: 20em;
}

.selected {
    border-bottom: 1px solid black;
}
@media only screen and (max-device-width: 480px) {

    #addProject {
        display: none;
    }

    .projects {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        white-space: nowrap;
    }
    ul {
        padding-left: 0;
    }
    li {
        display: inline-block;
        float: none;
        width: auto;
    }
}

@media only screen {
    .selected {
        border: 0;
    }
}